<launch>

    <arg name="width" default="1280"/>
    <arg name="height" default="720"/>

    <include file="$(find tid3_robot_demos)/launch/fusion_viz.launch">
        <arg name="camera_name" value="imx390"/>
        <arg name="radar_name" value="ti_mmwave"/>
        <arg name="width" value="$(arg width)"/>
        <arg name="height" value="$(arg height)"/>
    </include>

    <!-- rviz -->
    <node pkg="rviz" type="rviz" name="rviz_sde" args="-d $(find tid3_robot_demos)/rviz/fusion_1up.rviz" />

</launch>
